<table class="table table-sm">
<thead>
    <tr>
    <th>Date</th>
    <th>Amount</th>
    <th><%= render 'payment_form', action: 'new', participation: Participation.find_by(participant: @participant, group_id: group_id) %></th>
    </tr>
</thead>

<tbody>
    <% Participation.find_by(participant: @participant, group_id: group_id).payments.each do |payment| %>
    <tr>
        <td><%= payment.date %></td>
        <td><%= payment.amount %></td>
        <td><%= link_to 'Delete', payment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-outline-danger" %></td>
    </tr>
    <% end %>
</tbody>
</table>